<div class="center hero_unit">
	<h1>Bem vindo ao meu Twitter</h1>
		<p>
			this is the home page for the twitter app

		</p>


		<%= link_to "Sign up now!", signup_path, class:"btn btn-large btn-primary" %><!-- btn=button -->
		
		<div>
			<%= link_to image_tag("twitter.png", alt:"Rails"),'https://twitter.com/' %>
		</div>

</div>


