<div class="center hero_unit">
<html>
<head>
<style>
body
{
	background-image:url('assets/sala.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position: top-center;
	background-size: 100% 100%;
}

</style>
</head>
	<body>
		<% if signed_in? %>
			<h1>Ainda aqui?</h1>
		<% else %>
		<h1>Bem vindo ao Primeiro Direito</h1>

			<%= link_to "Regista-te!", signup_path, class:"btn btn-large btn-inverse" %><!-- btn=button -->
			
			<div>
				<br><br>
	
			</div>
		<% end %>
	</body>
</html>
</div>



