<li>
	<%= gravatar_for client, size: 52 %>
	<%= link_to client.name, client %>
	<% if current_client.admin? && !current_client?(client) %>
		| <%= link_to "delete", client, method: :delete, confirm: "Tem a certeza?"%>
	<% end %>
</li>	